
<html>
<head>
</head>
<body>
    <header>
        <h2>RBT Logo</h2>
    </header>
    <div id="body">
        <h2>Ray Business Technologies</h2>
        @RenderSection("RBT", false);
       
    </div>
    <footer>
        <h3>@DateTime.Now.ToString()</h3>
    </footer>
    @RenderBody()
</body>
</html>
