@using CascadingDropdownlistApplication.Models;
@model Address


<h2>Index</h2>
@using (Html.BeginForm("Index","Home",FormMethod.Post))
{ 
    <table>
        <tr>
            <td>
               @Html.DropDownListFor(m=>m.country,new List<SelectListItem>() { new SelectListItem() { Text="Select Country",Value="0",Selected=true}, new SelectListItem() { Text="India",Value="1"} ,new SelectListItem() { Text="USA",Value="2"} },new { id="ddcountry"})
            </td>
        </tr>
        <tr>
            <td>
                @if (ViewBag.states == null)
                {
                    @Html.DropDownListFor(m => m.state, new List<SelectListItem>() { new SelectListItem { Text = "Select State", Value = "0", Selected = true } }, new { id = "ddstate" })
                }
                else
                {
                    @Html.DropDownListFor(m => m.state, (List<SelectListItem>)ViewBag.states, new { id = "ddstate1" })
                }
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script>
       $(document).ready(function () {
          // alert("document is ready");
           $('#ddcountry').change(function () {
               debugger;
               var countryval = $('select[id=ddcountry]').val();
               alert(countryval);
               $.ajax({
                   type: "POST",
                   data:{'countryId':countryval},
                   url: "/Home/BindStates",
                   dataType: 'json',
                   contenttype: "application/json; charset=utf-8",
                   success: function (result) {
                       debugger;
                       $('#ddstate'). empty();

                       $('#ddstate').append($('<option/>', {

                           value: 0,

                           text: "Select a State"

                       }));
                       $.each(result, function (index, itemdata) {
                           $('#ddstate').append($('<option/>', {

                               value: itemdata.Value,

                               text: itemdata.Text

                           }));
                       });
                           
          
                   },
                   error:function(error){
                       alert('failure');
               }
               });
           });
       });
   </script>

